* {
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: #fafafa;
    overflow: hidden;
}

span {
    text-decoration: none;
    color: #010616;
}

@media screen and (max-width: 320px) {
    span {
        position: relative;
        left: 1rem;
    }
}
